@import url('https://fonts.googleapis.com/css?family=Montserrat');
/*
font-family: 'Montserrat', sans-serif;
*/
.title, #title{
   font-size: 30px;
   color: black;
}
a {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

a{
	color: black;
}

a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

a:hover::after {
    width: 100%;
    //transition: width .3s;
}